*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 0;
    margin-right: 0;
}

/* top nav bar CSS */

.SS_topnav{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    
    font-size: 14px;
    margin-bottom: 15px;
    width: 85%;
    
}

.SS_topnav > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  
}

.SS_topnav_1 a{
    display: flex;
    flex-wrap: wrap;
    color: #263238;
    text-decoration: none;
}

.SS_topnav_2 a{
    display: flex;
    flex-wrap: wrap;
    color: #263238;
    text-decoration: none;
}

.SS_topnav_1{
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-around;
    color: black;
    text-decoration: none;
    text-align: center;
}

.SS_topnav_2{
    
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    text-align: center;
    justify-content: space-around;
    color: black;
    text-decoration: none;
    margin-right: 30px;
}

/* top nav bar CSS completed*/


/* main nav bar CSS */

header{
    border-bottom: 1px solid gray;
}

.SS_main_navbar{
    display: flex;
    margin: auto;
    width: 85%;
    position: sticky;
    top: 0;
    padding: 5px 100px 10px 100px;
    background-color: #FFF;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.SS_main_navbar>a{
    display: flex;
    margin: auto;
}

.SS_navbar-logo>img{
    width:120px ;
    height: 50px;
    
}

.SS_location{
    border: none;
    background-color: transparent;
}

.SS-navbar-search{
    display: flex;
    margin: auto;

}

.SS-navbar-search>select{
    border: 1px solid #008BCF;
    border-right: none;
    font-weight: 600;
}

.SS-navbar-search>input{
    width: 300px;
    height: 40px;
    border: 1px solid #008BCF;
    border-left: 1px solid #90A4AE;
    font-weight: 400;
}


.SS-navbar-buttons{
    display: flex;
    margin: auto;
    justify-content: space-around;
    gap: 20px;
}

.SS-navbar-buttons>.navbar-button2{
    background-color: #FCEC52;
    border-radius: 2px;
    font-weight: 500;
}

.SS_top_hr{
    border: 1px solid gray;
}

.SS-navbar-search>button{
    width: 46px;
    background-color: #008BCF;
    border: 0;
}

.SS-navbar-buttons button{
    width: 140px;
    height: 48px;
    font-size: 16px;
    font-weight: 400;
    background-color: transparent;
    border: 0;
    
}

.SS-navbar-buttons button:hover{
    text-decoration: underline;
    background-color: beige;
    border-radius: 8px;
}

.SS-navbar-buttons>.navbar-button2:hover{
    background-color: #FCEC52;
    border-radius: 2px;
}


/*main nav bar completed*/

/*drop down menu*/

.menu-wrapper{
width: 85%;
  display: flex;
  margin: auto;
  justify-content: space-around;
    
}

.menu-wrapper>ul>li{
    margin: 0 40px;
}


.nav,
.nav a,
.nav form,
.nav input,
.nav li,
.nav ul {
  border: none;
  margin: 0;
  padding: 0;
}
.nav a {
  text-decoration: none;
}
.nav li {
  list-style: none;
}

/* menu container */
.nav,
input {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
.nav {
  cursor: default;
  display: inline-block;
  position: relative;
  z-index: 500;
}

/* menu list */

.nav > li {
  float: left;
  
}

.nav > li > a >i{
    display: flex;
    margin: auto;
}


/* menu links */
.nav > li > a {
  
  color: #312a27;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 3.5;
  padding: 0 1.25em;
  position: relative;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
  transition: all .3s ease;
  z-index: 510;
  gap: 15px;
}
.nav > li > a:focus,
.nav > li:hover > a {
  background: #0083C9;
}
.nav > li:first-child > a {
  border-left: none;
  border-radius: 3px 0 0 3px;
}


/* menu dropdown */
.mega-menu {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0 0 3px 3px;
  opacity: 0;
  position: absolute;
  transition: all .3s ease .15s;
  visibility: hidden;
  
}
li:hover > .mega-menu {
  opacity: 1;
  overflow: visible;
  visibility: visible;
}

/* menu content */
.nav-column {
  float: left;
  padding: 2.5%;
  width: 20%;
}
.nav-column a {
  color: #888;
  display: block;
  font-weight: 400;
  line-height: 1.75;
  
}
.nav-column a:hover {
  color: #2196f3;
}
h3 {
  color: #372f2b;
  font-size: .95em;
  font-weight: bold;
  line-height: 1.15;
  margin: 1.25em 0 .75em;
  text-transform: uppercase;
}
.highlight {
  color: #2196f3;
}


/*----drop down nav completed----*/



@media screen and (max-width: 600px) {
  .SS_topnav {
    flex-direction: column;
  }
  .SS_topnav > div {
    margin: 10px 0;
  }
  .SS_topnav > div > a {
    margin: 0 10px;
  }
}